
body{
    background-color: #f4ebfc;
    font-family: sans-serif;
}
h1{
    
    font-size: 26px;
    text-align: center;
}
h2{
    margin: 0 0 10px;
    font-size: 28px;

}
.container{
    max-width: 600px;
    margin: 60px auto;
    background-color: #f9fded;
    padding: 50px;
    box-shadow: rgba(100,100,111,0.4) 0px 7px 29px 0px;
    border-radius: 13px;
}

select{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding:10px;
    font-size: 18px;

}
.city{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #bdbbbb;
    padding: 20px ;

}
.city:last-child{
    border: none;
}
.time{
    font-size: 36px;
    font-weight: bold;
}
.time small{
    line-height: 36px;
    font-size: 20px;
    vertical-align: middle;
}

.date{opacity: 0.5;

}
footer{
    text-align: center;
    font-size: 18px;
    color: rgba(0,0,0,0.7);
}